<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Interview">
    <Appenders>
        <File name="output_log_file" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>[%p] %d{MM-dd-yyyy HH:mm:ss} %C[%M] - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="output_log_file"/>
        </Root>
    </Loggers>
</Configuration>